.container{
  background-color: black;
  color: white;
  width: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 200px;
  border-radius: 10px;
  padding-left: 30px;
}
.name{
  width: 100%;
  font-size: 1.3rem;
  font-weight: bolder;
  padding-bottom: 15px;
}
.dataContainer{
  width: 100%;
}