.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 100vw;
  /* justify-content: center; */
  align-items: center;
  gap: 20px;
}
.dataContainer {
  width: 100%;
  padding: 30px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  flex-wrap: wrap;
  margin-bottom: 10vh;
}
.loader {
  height: 300px;
  width: 300px;
  background-image: url("../public/Loading_icon.gif");
  background-repeat: no-repeat;
  background-size: contain;
}
.error {
  color: red;
  padding-top: 20px;
  font-size: 1.3rem;
}
